.c-float-label {
	position: relative;
	margin-top: 15px;

	label {
		position: absolute;
		top: 20px;
		left: 10px;
	}

	input,
	textarea,
	label {
		transition: 0.2s ease-in-out;
	}
}

.c-float-label--focused,
.c-float-label--populated {
    label {
        position: absolute;
        top: -10px;
        left: 10px;
        text-transform: uppercase;
        @include font-heading($font-size-h4);
    }
}

.c-float-label--populated label {
    color: $color-5;
}

.c-float-label--focused label {
    color: $color-white;
}
