# =========================
# Gulp Files
# =========================
npm-debug.log
node_modules
dist
.tmp

# =========================
# Bower Files
# =========================
bower_components

# =========================
# WebStorm Files
# =========================
**/.idea/workspace.xml
**/.idea/tasks.xml
