# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Sass Files
# =========================
.sass-cache

# =========================
# Gulp Files
# =========================
npm-debug.log
node_modules
dist
.tmp

# =========================
# Bower Files
# =========================
bower_components