// COLORS
$color-font-base: #000 !default;
$color-white: #fff !default; // White
$color-moon: #eaeaea !default; // Moon White
$color-1: #081c23 !default; // Really Dark Blue
$color-2: #32313B !default; // Dark Gray
$color-3: #FF0047 !default; // Red
$color-4: #39B1C6 !default; // Blue
$color-5: #1FD26A !default; // Green
$color-6: #b6a445 !default; // Yellow
