$browser-action-circle-size: 10px;

.c-browser-frame {
    height: 20px;
    padding: 5px;
    background: darken($color-moon, 10%);
    position: relative;
    z-index: 2;
    border-radius: 5px 5px 0 0;
}

.c-browser-frame__circle {
    display: block;
    float: left;
    width: $browser-action-circle-size;
    height: $browser-action-circle-size;
    background: $color-3;
    border-radius: 50%;
    margin-left: 5px;
}

.c-browser-frame__circle--window {
    background: $color-6;
}

.c-browser-frame__circle--min {
    background: $color-5;
}
