.c-dialog,
.c-dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.c-dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;

	&.is-clickable {
		cursor: pointer;
	}

    &.is-happy {
        .c-dialog__close {
            display: none;
        }
    }

	&.is-unHappy {
		.c-dialog__content {
			background: $color-3;
			color: $color-white;
		}
	}

    &.is-open .c-dialog__content,
    &.is-closed .c-dialog__content {
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }

    &.is-open {
        .c-dialog__overlay {
            opacity: 1;
        }

        .c-dialog__content {
            animation-name: dialog-open;
            animation-timing-function: cubic-bezier(0.6,0,0.4,1);
        }
    }

    &.is-closed .c-dialog__content {
        animation-name: dialog-close;
    }
}

.c-dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	transition: opacity 0.3s;
    transition-duration: 0.4s;
}

.c-dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: $color-5;
	color: $color-white;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
	font-size: $font-size-h4;
}

.c-dialog__close {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
    padding: 0;
	background: $color-white;
	border-radius: 50%;

	&:before {
		content: "\f00d";
		color: $color-3;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
		@include font-icon();
	}

    &:focus,
    &:hover {

    }
}

.c-dialog__close-text {
    @include visuallyHidden;
}
