<div class="c-dialog">
    <div class="c-dialog__overlay">
    </div>
    <div class="c-dialog__content">
        {{this}}
        <button type="button" class="c-dialog__close"><span class="c-dialog__close-text">Close dialog</span></button>
    </div>
</div>
