@include border-box-sizing;

html,
body {
	height: 100%;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	color: $color-font-base;
	background-color: $color-moon;
	font-size: $font-size-base;
	@include font-base();
}
