.c-timeline {
    position: relative;
    z-index: 3;
    @extend %clearfix;

    @include breakpoint(phone) {
        &:after {
            content: "";
            display: block;
            width: 4px;
            height: 100%;
            background: $color-5;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -2px;
        }
    }
}

.c-timeline__event {
    display: block;
    position: relative;
    z-index: 2;

    @include breakpoint(phone) {
        width: 50%;
        padding: 20px 20px 20px 0;

        &:nth-child(odd) {
            margin: 0 0 0 50%;
            padding: 20px 0 20px 20px;

            .c-bubble {
                margin: 0 0 0 20px;

                &:before {
                    right: auto;
                    left: -12px;
                    border-left: none;
                    border-right: 12px solid $color-moon;
                }
            }

            .c-timeline__meta {
                right: auto;
                left: -25px;
            }

            .c-timeline__meta-year {
                margin: 0 0 0 -40px;
            }
        }
    }
}

.c-timeline__sign {
    display: none;

    @include breakpoint(phone) {
        display: block;
        text-align: center;
        margin: 50px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.c-timeline__sign-text {
    display: inline-block;
    position: relative;
    z-index: 3;
    background: $color-5;
    color: $color-1;
    padding: 2px 10px;
    border-radius: 5px;
}

.c-timeline__meta {
    height: 50px;
    width: 50px;
    background: $color-5;
    border: 6px solid $color-1;
    border-radius: 50%;
    position: relative;
    margin: 20px 0;

    @include breakpoint(phone) {
        position: absolute;
        right: -25px;
        top: 50%;
        margin-top: -25px;
        z-index: 2;
    }
}

.c-timeline__meta-year {
    line-height: 38px;
    margin: 0 0 0 48px;
    @include breakpoint(phone) {
        font-size: $font-size-small;
    }
}

.c-timeline__meta-icon:before {
    content: "\f19d";
    text-align: center;
    height: 38px;
    width: 38px;
    color: $color-1;
    position: absolute;
    top: 0;
    left: 0;
    @include font-icon(22px);
    line-height: 38px;
}

.c-timeline__meta-icon--work:before {
    content: "\f0f2";
}

.c-timeline__meta-icon--code:before {
    content: "\f121";
}

.c-timeline__meta-icon--cert:before {
    content: "\f0a3";
    font-size: 28px;
    padding: 1px 0 0 1px;
}

.c-timeline__meta-icon--mic:before {
    content: "\f130";
    font-size: 24px;
    padding: 1px 0 0 0;
}
