.c-stars,
.c-stars:after,
.c-clouds {
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.c-stars {
    background: $color-1 url(#{$path-img}/stars.png) repeat top center;

    // fade out stars
    &:after {
        content: "";
        z-index: 3;
        background: linear-gradient(to bottom, rgba($color-1, 0) 80%, rgba($color-1, 1) 100%);
    }
}

.c-clouds {
    background: transparent url(#{$path-img}/clouds.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 250s linear infinite;
}
