.browser-frame {
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 5px;

	.bar {
		height: 20px;
		background: darken($color-moon, 10%);
		position: relative;
		z-index: 2;
		border-radius: 5px 5px 0 0;
	}

	.min,
	.window,
	.close {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		position: absolute;
		top: 5px;
		left: 7px;
		background: $color-3;
	}

	.window {
		left: 7+10+3px;
		background: #b6a445;
	}

	.min {
		left: 7+10+3+10+3px;
		background: $color-5;
	}
}