nav {
	@extend %clearfix;

	ul {
		margin: 0;		
	}

	li {
		list-style: none;
		box-shadow: inset 0 0 $color-4;
		transition: box-shadow 0.2s ease-out;

		&:hover,
		&.in-view {
			box-shadow: inset 0 -3px $color-4;

			.sticky & {
				box-shadow: inset 0 -3px $color-white;
			}
		}

		&:hover a {
			text-decoration: none;
			transform: translate(0, -3px);
		}

		&.in-view a {
			transform: translate(0, 0);
		}

		a {
			display: block;
			font-weight: bold;			
			color: $color-4;
			text-transform: uppercase;			
			transition: all 0.2s ease-out;
			
			&:before {
				@include font-icon($font-size-large);
				@include breakpoint(phone) {
					@include font-icon($font-size-h3);
				}
				@include breakpoint(tablet) {
					display: none;
					content: "";
				}
			}

			&:focus {
				text-decoration: none;
			}

			&.work:before {
				content: "\f0f2";
			}

			&.about:before {
				content: "\f007";
			}

			&.history:before {
				content: "\f1da";
			}

			&.contact:before {
				content: "\f0e0";
			}
		}

		.sticky & {
			&.in-view {
				box-shadow: inset 0 -3px $color-1;
				
				a {
					transform: translate(0, 0);
					color: $color-1;
				}
			}
			a {
				color: $color-white;
				box-shadow: inset 0 0 $color-4;
			}
		}

		span {
			display: none;

			@include breakpoint(tablet) {
				display: block;
			}
		}
	}
}

.main-nav {
	ul {
		float: right;
	}

	li {
		display: block;
		float: left;
		margin: 0 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		height: 65px;
		line-height: 65px;

		div {
			display: none;

			@include breakpoint(tablet) {
				display: block;
			}
		}
	}
}

.footer-nav {
	li {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		padding-bottom: 10px;
	}
}