.platforms {

	ul {
		overflow: hidden;
		display: inline-block;
	}

	li {
		display: block;
		float: left;
		padding-left: 1px;
		height: 30px;
		line-height: 30px;
	}

	.desktop,
	.tablet,
	.phone {
		margin-right: 20px;

		&:before {
			content: "\f108";
			width: 30px;
			height: 30px;
			color: darken($color-moon, 20%);
			@include font-icon($font-size-h3);
			display: inline;
		}

		&.on:before {
			color: $color-5;
		}
	}

	.tablet:before {
		content: "\f10a";
	}

	.phone:before {
		content: "\f10b";
	}
}