.projects {
	margin: 0;
	color: $color-2;

	img {
		cursor: pointer;
	}
	
	h3  {
		font-size: $font-size-h3;
		color: $color-2;
		margin: 0 0 20px 0;

		@include breakpoint(phone) {
			font-size: $font-size-h2;
		}

		@include breakpoint(tablet) {
			font-size: $font-size-h1;
		}
	}

	h4 {
		margin: 0;
		font-weight: normal;
	}

	h4,
	.title {
		font-size: $font-size-small;

		@include breakpoint(phone) {
			font-size: $font-size-h4;
		}
	}

	.title {
		display: inline-block;
		line-height: 30px;
		margin-right: 8px;
	}

	.role span {
		background: $color-5;
		color: $color-1;
		padding: 2px 6px;
	}

	.meta {
		margin-bottom: 20px;

		& > li {
			margin-bottom: 8px;
		}

		li {
			list-style: none;
		}

		.platforms .title,
		.platforms ul {
			float: left;
		}
	}
}

.project-item {
	margin: 0 0 20px 0;

	section {
		overflow: hidden;
	}

	@media (min-width : $screen-tablet) {
		margin-bottom: 100px;

		@include layout(12 1/2 after);
		
		.img {
			@include span(6);

			img {
				transition: transform 1s ease-in-out;
			}

			&:hover img {
				transform: scale(1.04);
			}
		}

		.body {
			@include span(6 at 7);
		}

		&:nth-child(2n) {
			.body {
				@include span(6);
			}

			.img {
				@include span(6 last);
			}
		}
	}
}