.stars,
.stars:after,
.twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:400px;
    display:block;
}

.stars {
    background:$color-1 url(#{$path-img}/stars.png) repeat top center;

    &:after {
        content: "";
        z-index: 3;
        background: linear-gradient(to bottom, rgba($color-1,0) 75%,rgba($color-1,1) 100%);
    }
}

.twinkling{
    background:transparent url(#{$path-img}/twinkling2.png) repeat top center;
    z-index:1;
    animation: move-twink-back 250s linear infinite;
}