.c-projects {
	margin: 0;
	color: $color-2;
}

.c-project__item {
	margin: 0 0 50px 0;
}

.c-project__art--desktop {
    display: none;
}

.c-project__art--mobile {
    margin-bottom: 15px;
}

.c-project__art-image {
    display: block;
    width: 100%;
}

.c-project__title  {
    font-size: $font-size-h3;
    font-weight: 800;
    color: $color-2;
    margin: 20px 0 10px 0;

    @include breakpoint(phone) {
        font-size: $font-size-h2;
    }

    @include breakpoint(tablet) {
        font-size: $font-size-h1;
    }
}

.c-project__sub-title {
    display: inline-block;
    margin: 0 8px 0 0;
    font-size: $font-size-small;
    font-weight: normal;
    line-height: 30px;

    @include breakpoint(phone) {
        font-size: $font-size-h4;
    }
}

.c-project__meta {
    margin-bottom: 10px;
}

.c-project__meta-item {
    margin-bottom: 5px;
}

.c-project__role {
    background: $color-5;
    color: $color-1;
    padding: 2px 6px;
}

@include breakpoint(tablet) {
	@include layout(12 1/2 after);
	.skrollr-desktop .c-project__item {
		margin-bottom: 100px;

		.c-project__title {
			margin: 0 0 20px 0;
		}

		&:nth-child(2n) {
			.body {
				@include span(6);
			}

			.c-project__art--desktop {
				@include span(6 last);
			}
		}
	}
    .c-project__art--desktop {
        display: block;
        @include span(6);

        .c-project__art-image {
            z-index: 0;
            transition: transform 1s ease-in-out;
        }

        &:hover .c-project__art-image {
            transform: scale(1.04);
        }
    }

    .c-project__art--mobile {
        display: none;
    }

    .c-project__body {
        @include span(6 at 7);
    }
}
