main > section {

	& > .content {
		padding: 75px 0;

		@include breakpoint(phone) {
			padding: 150px 0;
		}

		@include breakpoint(tablet) {
			padding: 200px 0;
		}
	}

	header h2 {
		position: absolute;
		text-transform: uppercase;
		margin-top: -37px;
		font-size: 40px;
		font-weight: 800;

		@include breakpoint(phone) {
			margin-top: -56px;
			font-size: 60px;
		}

		@include breakpoint(tablet) {
			margin-top: -84px;
			font-size: 90px;
		}

		@include breakpoint(desktop) {
			margin-top: -131px;
			font-size: 140px;
		}
	}
}
