#contact {
	position: relative;
	background: $color-2;

	header h2 {
		color: $color-2;
	}

	.content {
		position: relative;
		padding-bottom: 320px;

		@include breakpoint(phone) {
			padding-bottom: 200px;
		}
	}
}