footer {
	background: $color-1;
	color: $color-white;
	border-top: 1px solid rgba(0,0,0,.15);
	padding: 20px 0;
	font-size: $font-size-small;

	p {
		margin: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		overflow: hidden;

		 @include breakpoint(tablet) {
		 	text-align: left;
		 }
	}

	.info,
	.contact {
		padding-bottom: 10px;
	}

	@include breakpoint(tablet) {
		.info,
		.contact,
		.menu {
			@include span(4);
		}
	}

	.contact {
		.email {
			@include breakpoint(tablet) {
				@include span(7);
			}
		}

		.phone {
			@include breakpoint(tablet) {
				@include span(5);
			}
		}

		p {
			display: inline-block;

			@include breakpoint(tablet) {
				display: block;
			}

			& + a {
				margin-left: 10px;

				@include breakpoint(tablet) {
					margin-left: 0;
				}
			}
		}
	}

	.menu li {
		display: inline-block;
	}
}