$susy: (
	global-box-sizing: border-box,
	columns: $grid-columns,  // The number of columns in your grid
	gutters: 1/4, // The size of a gutter in relation to a single column
	gutter-position: split
);

.container {
	@include container(960px);
	padding: 0 20px;
}