#work {
	background: $color-moon;

	header h2 {
		color: $color-moon;
	}
	
	li {
		overflow: hidden;

		img {
			display: block;
			width: 100%;
		}
	}

	.content .container {
		@include container(1366px);
	}
}