.dialog-overlay {
	transition-duration: 0.4s;
}

.dialog.open .dialog-content,
.dialog.close .dialog-content {
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.dialog.open .dialog-content {
	animation-name: dialog-open;
	animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.dialog.close .dialog-content {
	animation-name: dialog-close;
}