.initial {
	animation-name: fadein;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-duration: 0.4s;

	&:first-child {
		animation-delay: 0.4s;			
	}

	.first-name + & {
		animation-delay: 0.8s;
	}

	.middle-name + & {
		animation-delay: 1.2s;
	}
}

.logo .underline {
	animation-name: logoIn;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-delay: 1.6s;
	animation-duration: 0.4s;
}